.firstinstall {
  margin-top: 100px;
  width: 250px;
  height: 150px;
}
.secondinstall {
  margin-top: 100px;
  width: 250px;
  height: 150px;
}

.thirdinstall{
  margin-top: 100px;
  width: 250px;
  height: 150px;
}
.allinstallation{ 
  display: flex!important;
  gap: 30px;
  text-align: center;
  margin-left: 10%;
}
.devis{
  margin-top:30% ;
  text-align: center;
  display: inline-flex;
  margin-left: 30%;
  }
  .devis h1{
    text-align: center !important;
  }
  .form-group2{
     display: inline-table;
        padding: 5px ;
        list-style: none;
        font-size: 0;
  }