* {
  text-rendering: optimizeLegibility;
}
html,
body {
  height: 100%;
}
/* body {
  padding-top: 70px;
  background-image: url(http://pbx.wisconsinnetworks.com/whapps/core/layout/images/bg.jpg);
  background-repeat: repeat-x;
  background-color: #126ab2;
} */
.nav-tabs.nav-tabs-left {
  float: left;
  border-right: 0;
}
.nav-tabs.nav-tabs-left li a {
  margin-right: -1px;
  border-radius: 4px 0 0 4px;
  border-right: none;
}
.nav-tabs.nav-tabs-right {
  float: right;
  border-left: 0;
}
.nav-tabs.nav-tabs-right li a {
  margin-left: -1px;
  border-radius: 0 4px 4px 0;
  border-left: none;
  text-align: right;
}
.nav-tabs.nav-centered li a {
  text-align: center;
}
.nav-tabs.nav-tabs-left,
.nav-tabs.nav-tabs-right {
  border-bottom: 0;
  max-width: 33%;
}
.nav-tabs.nav-tabs-left li,
.nav-tabs.nav-tabs-right li {
  float: none;
  margin: 0;
}
.nav-tabs.nav-tabs-left li a,
.nav-tabs.nav-tabs-right li a {
  border: 1px solid #a1a1a4;
  background-color: #a1a1a4;
  color: rgb(255, 255, 255);
}
.nav-tabs.nav-tabs-left li a:hover,
.nav-tabs.nav-tabs-right li a:hover {
  background-color: #f8f8ff;
  border-color: #bbbbbd;
  color: rgb(255, 242, 242);
}
.nav-tabs.nav-tabs-left li.active a,
.nav-tabs.nav-tabs-left li.active .glyphicon,
.nav-tabs.nav-tabs-right li.active a,
.nav-tabs.nav-tabs-right li.active .glyphicon {
  color: rgb(180, 36, 36);
}
.nav-tabs.nav-tabs-left li.active a:hover,
.nav-tabs.nav-tabs-left li.active .glyphicon:hover,
.nav-tabs.nav-tabs-right li.active a:hover,
.nav-tabs.nav-tabs-right li.active .glyphicon:hover {
  color: rgb(142, 22, 22);
}
.nav-tabs.nav-tabs-left li.active a,
.nav-tabs.nav-tabs-left li.active a:hover,
.nav-tabs.nav-tabs-left li.active a:focus,
.nav-tabs.nav-tabs-right li.active a,
.nav-tabs.nav-tabs-right li.active a:hover,
.nav-tabs.nav-tabs-right li.active a:focus {
  background-color: #d5d5d6;
  border-color: #d5d5d6;
}
.nav-tabs.nav-tabs-left li:not(:last-of-type),
.nav-tabs.nav-tabs-right li:not(:last-of-type) {
  margin-bottom: -1px;
}
.tab-content.side-tabs .tab-pane {
  display: none;
  padding: 1rem;
  overflow-y: auto;
  border: 1px solid #ffffff;
}
.tab-content.side-tabs-left {
  margin-left: 45px;
}
.tab-content.side-tabs-left .tab-pane {
  border-radius: 0 4px 4px 0;
}
.tab-content.side-tabs-left .tab-pane.active {
  display: block;
  background-color: #d5d5d6;
  border-color: #d5d5d6;
  color: rgb(248, 225, 225);
  font-weight: 300;
  letter-spacing: 0.1em;
}
.tab-content.side-tabs-right {
  margin-right: 45px;
}
.tab-content.side-tabs-right .tab-pane {
  border-radius: 4px 0 0 4px;
}
main > .row:not(:first-of-type) {
  margin-top: 1.1em;
}
